body{
    color: #212121;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 1200;
}
.nav--container {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #2196f3;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    margin-right: 93px;
    
}
.active-link{
    color:#212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    margin-right: 50px;
}
.active-link:hover{
    color: #2196f3;
}
.contacto-link{
    color: #212121;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
}
.contacto-link:hover{
    color: #2196f3;
}

.title-container{
    display: flex;
    height: 600px;
    background-color: #2F303A;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.h1-title{
    color:#FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    padding-right: 280px;
    padding-left: 280px;
}
.button-index{
    color:#FFFFFF;
    background-color:#2196f3;
    border: 5px solid #2196f3;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    cursor: pointer;
}
.values-container{
    display: flex;
    margin-left: 30px;
    padding-top: 95px;
    justify-content: space-evenly;

}
.values{
    font-size: 14px;
    font-weight: 700px;
    line-height: 1.1px;
    text-transform: uppercase;
}
.values-description{
    display: block;
    color: #757575;
    font-size: 14px;
    width: 270px;
    height: 75px;
    line-height: 1.7;
}
h2.title{
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.2px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
    background: #212121;

}
.devices-imagenes{
    display: flex;
    padding-bottom: 94px;
    justify-content: space-evenly;
}
.member-container{
    color: #F5F4FA;
}
.member-section{
    padding-bottom: 94px;
    display: flex;
    justify-content: space-evenly;
}
.member-card{
    box-sizing: border-box;
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.member-imagen{
    display: block;
}
.team-members{
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #212121;
}
.position{ 
    color:#757575;
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.footer-container{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    margin-bottom: 9px;
    background-color: #2F303A;
    flex-direction: column;
}
.add{
    color:#FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
}
.footer-contacto-link{
    color:rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
}

.button{
    display:flex;
    margin-top: 106px;
    padding-bottom: 56px;
    justify-content: center;
    flex-basis: calc((100%-32px)/5);

}
.active-button{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    border:0;
    border-radius: 4px;
    margin-right: 8px;
    padding:
     6px 24px;
    
}
.active-button:hover{
    color:#FFFFFF;
    background-color:#2196f3;
    cursor:pointer
}
.project.container{
    display: flex;
    padding: 20px;
    padding-bottom: 90px;
    flex-wrap: wrap;
    gap: 20px;s
}
.card{
    box-sizing: border-box;
    width: 370;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.card-image{
    display: block;
}
.card-heading{
    padding: 24px;
    padding-left: 24px;
}
.list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.list-description{
    color:#757575 ;
    font-size: 16px;
    line-height: 1.9;
    
}

